#                                Statistics Mini Project

1. You were recently hired as a business analyst in a top sports company. The senior management team has asked you to come up with metrics with which they can gauge which team will win the upcoming La Liga cup (Football tournament). The given data set contains information on all the teams that have so far participated in all the past tournaments. It has data about how many goals each team scored, conceded; how many times they came within the first 6 positions, how many seasons they have qualified, their best position in the past, etc. You are required to do the following:

Before doing any analysis it would be a good idea to check for any hypens or other symbols the data set and make appropriate replacements to make sure you can perform arithmetic operations on the data. Prepare a short report to answer the following questions:

In [48]:
import numpy as np
import pandas as pd
from pandas import DataFrame

In [49]:
df=pd.read_csv('Laliga.csv')
df.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pos            61 non-null     int64
 1   Team           61 non-null     object
 2   Seasons        61 non-null     int64
 3   Points         61 non-null     object
 4   GamesPlayed    61 non-null     object
 5   GamesWon       61 non-null     object
 6   GamesDrawn     61 non-null     object
 7   GamesLost      61 non-null     object
 8   GoalsFor       61 non-null     object
 9   GoalsAgainst   61 non-null     object
 10  Champion       61 non-null     object
 11  Runner-up      61 non-null     object
 12  Third          61 non-null     object
 13  Fourth         61 non-null     object
 14  Fifth          61 non-null     object
 15  Sixth          61 non-null     object
 16  T              61 non-null     object
 17  Debut          61 non-null     object
 18  Since/LastApp  61 non-null     object
 19  BestPosition   61 non-null     int64
dtypes: int64(3), object(17)
memory usage: 9.7+ KB

In [51]:
# Dropping the last row since it is insignificant for the analysis

df.drop(index=60,axis=0,inplace=True)

In [52]:
# converting object data types into numerical

df['Points']=df['Points'].astype(int)
df['GamesWon']=df['GamesWon'].astype(int)
df['GamesPlayed']=df['GamesPlayed'].astype(int)

In [53]:
# Removing  '-' from years and converting into numerical
df['Debut']=df['Debut'].apply(lambda x : x[0:4]).astype(int)
df['Since/LastApp']=df['Since/LastApp'].apply(lambda x : x[0:4]).astype(int)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 59
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pos            60 non-null     int64
 1   Team           60 non-null     object
 2   Seasons        60 non-null     int64
 3   Points         60 non-null     int32
 4   GamesPlayed    60 non-null     int32
 5   GamesWon       60 non-null     int32
 6   GamesDrawn     60 non-null     object
 7   GamesLost      60 non-null     object
 8   GoalsFor       60 non-null     object
 9   GoalsAgainst   60 non-null     object
 10  Champion       60 non-null     object
 11  Runner-up      60 non-null     object
 12  Third          60 non-null     object
 13  Fourth         60 non-null     object
 14  Fifth          60 non-null     object
 15  Sixth          60 non-null     object
 16  T              60 non-null     object
 17  Debut          60 non-null     int32
 18  Since/LastApp  60 non-null     int32
 19  BestPosition   60 non-null     int64
dtypes: int32(5), int64(3), object(12)
memory usage: 8.7+ KB

1.	Which are the teams which started playing between 1930-1980?

In [55]:
DataFrame((df.loc[(df['Debut']>=1930) & (df['Debut']<=1980)][['Team','Debut']]))

                   Team  Debut
3              Valencia   1931
5               Sevilla   1934
8              Zaragoza   1939
9            Real Betis   1932
10  Deportivo La Coruna   1941
11           Celta Vigo   1939
12           Valladolid   1948
14       Sporting Gijon   1944
15              Osasuna   1935
16               Malaga   1949
17               Oviedo   1933
18             Mallorca   1960
19           Las Palmas   1951
21              Granada   1941
22       Rayo Vallecano   1977
23                Elche   1959
25             Hercules   1935
26             Tenerife   1961
27               Murcia   1940
28               Alaves   1930
29              Levante   1963
30            Salamanca   1974
31             Sabadell   1943
32                Cadiz   1977
34            Castellon   1941
37              Cordoba   1962
39           Recreativo   1978
40            Burgos CF   1971
41           Pontevedra   1963
46            Gimnastic   1947
49             Alcoyano   1945
50                 Jaen   1953
52           AD Almeria   1979
54               Lleida   1950
57               Condal   1956
58      Atletico Tetuan   1951
59     Cultural Leonesa   1955

2.	Which are the top 5 teams in terms of points?

In [56]:
DataFrame(df.sort_values(by='Points',ascending=False)[['Pos','Points',"Team"]][:5])

   Pos  Points             Team
0    1    4385      Real Madrid
1    2    4262        Barcelona
2    3    3442  Atletico Madrid
3    4    3386         Valencia
4    5    3368  Athletic Bilbao

3.	What is the distribution of the winning percentage for all teams? Which teams are in the top 5 in terms of winning percentage? (Winning percentage= (GamesWon / GamesPlayed)*100)

In [58]:
df['Win_Percentage']=round(((df['GamesWon']/df['GamesPlayed'])*100),2)
df.sort_values(by='Win_Percentage',ascending=False).loc[:,['Pos','Team','Win_Percentage']][:5]

   Pos             Team  Win_Percentage
0    1      Real Madrid           59.63
1    2        Barcelona           57.24
2    3  Atletico Madrid           47.48
3    4         Valencia           44.56
4    5  Athletic Bilbao           43.77

4.	Is there a significant difference in the winning percentage for teams which have attained a best position between 1-3 and those teams which have had a best position between 4-7.

In [61]:
pos1_3=df[(df['BestPosition']>=1) & (df['BestPosition']<=3)][["Team",'BestPosition','Win_Percentage']]
pos4_7=df[(df['BestPosition']>=4) & (df['BestPosition']<=7)][["Team",'BestPosition','Win_Percentage']]

In [62]:
pos1_3_mean=round((pos1_3['Win_Percentage'].mean()),2)
pos4_7_mean=round((pos4_7['Win_Percentage'].mean()),2)

print('The mean between two two different position is :',(pos1_3_mean,pos4_7_mean))

The mean between two two different position is : (39.67, 30.29)

In [77]:
ttest_ind(pos1_3['Win_Percentage'],pos4_7['Win_Percentage'])

Ttest_indResult(statistic=4.99271279686957, pvalue=1.5362221210774633e-05)

Since the p_value is less than 0.05, there exists a significant difference between two winning percentages.











2. A study was done to measure the blood pressure of 60 year old women with glaucoma. A random sample of 200 60-year old women with glaucoma was chosen. The mean of the systolic blood pressure in the sample was 140 mm Hg and the standard deviation was 25 mm Hg.

In [65]:
samp=(np.random.randn(200)*25)+140
samp[:50]

array([133.96750298, 111.79056975, 118.30723733, 161.7469223 ,
       163.32591098, 134.19305584, 141.2747449 ,  93.63033792,
       111.95539354, 139.04400193, 175.91206511, 121.74561083,
       144.56385035, 136.09367516, 162.60819646, 141.64394417,
        98.61796718, 144.14771233, 141.7935996 , 133.88394919,
       142.76491109, 123.57928554, 154.32080208, 128.14867168,
       105.50351959, 176.10070428, 109.57308135, 116.80682825,
       110.66128692, 129.09844484, 183.50082238, 105.9650374 ,
       112.15858704, 149.539706  , 164.77256375, 102.24081107,
       134.59128662,  64.87214482, 152.72769811, 154.49179377,
       172.50295367, 190.20469445, 113.42309918, 164.54090324,
       118.63972351, 158.58946599, 128.870988  , 123.76122198,
       121.59236079, 135.82456877])

a)	Calculate the estimated standard error of the sample mean? What does the standard error indicate?

In [66]:
SE=round((25/np.sqrt(200)),2)
print('The Standard Error of the sample mean is:',SE)

The Standard Error of the sample mean is: 1.77

b)	Estimate a 95% confidence interval for the true mean blood pressure for all 60-year old women with glaucoma.

In [67]:
# Lower limit, Upper limit of blood pressure

LL=round((140-(1.96*SE)),2)
UL=round((140+(1.96*SE)),2)

print('The 95% CI for the true mean blood pressure for all 60-year old women with glaucoma lies between:',(LL,UL))

The 95% CI for the true mean blood pressure for all 60-year old women with glaucoma lies between: (136.53, 143.47)

c)	Assume that instead of 200, a random sample of only 100 60-year old women with glaucoma was chosen. The sample mean and standard deviation estimates are the same as those in the original study. What is the estimated 95% confidence interval for the true mean blood pressure?

In [68]:
samp1=(np.random.randn(100)*25)+140
samp1[:50]

array([103.77291996, 126.77852146, 138.61471769, 165.02059935,
       128.7203933 , 194.1497997 , 116.04255324, 151.94618757,
       123.231565  , 154.983761  , 167.16205869, 123.77924585,
        96.45660445, 129.96074296, 175.66374801, 102.60979095,
       158.34301735, 179.19303611, 140.25568599, 147.58715345,
       196.51939134,  88.84946277, 139.49742704, 142.49652228,
       154.73418256, 102.10666618, 129.67944994, 128.25518705,
       223.12844408, 111.33483933, 153.32566146, 118.24769801,
       187.82771667, 144.20222892, 127.10725662, 118.32347593,
       118.43072136, 141.17555244, 176.43179978, 120.36852981,
       141.18742467, 112.54976378, 136.13631376, 136.27879225,
       139.81726285, 136.80551694,  99.12021246, 155.13551604,
       142.80943775, 116.96335852])

In [78]:
SE1=25/np.sqrt(100)
print('The Standard Error of the sample mean is:',SE1)

The Standard Error of the sample mean is: 2.5

In [70]:
# Lower limit, Upper limit of blood pressure

LL=140-(1.96*SE1)
UL=140+(1.96*SE1)

print('The 95% CI for the true mean blood pressure for all 60-year old women with glaucoma lies between:',(LL,UL))

The 95% CI for the true mean blood pressure for all 60-year old women with glaucoma lies between: (135.1, 144.9)

d)	Which of the two above intervals are wider?

The random sample of size 100 is having wider intervals when compared with the sample size of 200

e)	Explain in non-technical terms why the estimated standard error of a sample mean tends to decrease with an increase in sample size.

The Standard error of the sample mean decreases as the sample size increases is because when the sample size increses it is getting more closer to the population data and the variance will decrease as the number of sample increases.

3. Par Inc., is a major manufacturer of golf equipment. Management believes that Par’s market share could be increased with the introduction of a cut-resistant, longer-lasting golf ball. Therefore, the research group at Par has been investigating a new golf ball coating designed to resist cuts and provide a more durable ball. The tests with the coating have been promising.

One of the researchers voiced concern about the effect of the new coating on driving distances. Par would like the new cut-resistant ball to offer driving distances comparable to those of the current-model golf ball. To compare the driving distances for the two balls, 40 balls of both the new and current models were subjected to distance tests. The testing was performed with a mechanical hitting machine so that any difference between the mean distances for the two models could be attributed to a difference in the design. The results of the tests, with distances measured to the nearest yard, are contained in   the data set “Golf”.

In [71]:
golf=pd.read_csv('Golf.csv')
golf.head()

   Current  New
0      264  277
1      261  269
2      267  263
3      272  266
4      258  262

1.	Formulate and present the rationale for a hypothesis test that Par could use to compare the driving distances of the current and new golf balls.

Null Hypothesis (H0): The mean distance covered by current ball is equal to the new ball.
    
ALternate Hypothesis (Ha): The mean distance covered by current ball is not equal to the new ball.

2.	Analyze the data to provide the hypothesis testing conclusion. What is the p-value for your test? What is your recommendation for Par Inc.?

In [72]:
# The data normality check

from scipy.stats import shapiro

shapiro(golf['Current']),shapiro(golf['New'])

(ShapiroResult(statistic=0.9707046747207642, pvalue=0.378787100315094),
 ShapiroResult(statistic=0.9678263664245605, pvalue=0.3064655363559723))

The data passes the test of normality which follows parametric independent t_test

In [73]:
from scipy.stats import ttest_ind

ttest_ind(golf['Current'],golf['New'])

Ttest_indResult(statistic=1.3283615935245678, pvalue=0.18793228491854663)

The pvalue is greater than 0.05, which results in accepting the null hypotheis.. 

The mean distance covered by current ball is equal to the new ball.

3.	What is the 95% confidence interval for the population mean of each model, and what is the 95% confidence interval for the difference between the means of the two population?

In [74]:
# 95% CI for Current ball

CSE=golf['Current'].std()/np.sqrt(40)
Mean=golf['Current'].mean()

LL=round((Mean-(1.96)*CSE),2)
UL=round((Mean+(1.96)*CSE),2)

print("The 95% CI for the current ball lies between:",(LL,UL) )

The 95% CI for the current ball lies between: (267.56, 272.99)

In [75]:
# 95% CI for New ball

NSE=golf['New'].std()/np.sqrt(40)
Mean=golf['New'].mean()

LL=round((Mean-(1.96)*NSE),2)
UL=round((Mean+(1.96)*NSE),2)

print("The 95% CI for the current ball lies between:",(LL,UL) )

The 95% CI for the current ball lies between: (264.43, 270.57)